* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bahnschrift', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.wrapper > div {
  padding: 24px;
  background-color: darkgrey;
  flex: 1 0 0;
  min-width: 400px;
  min-height: 400px;
}

.searchPost, .postInfo {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.searchPost label {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.searchPost input {
  padding: 10px;
  border: 0;
  outline: 0;
  font-size: 18px;
}

.postList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.postList,.postInfo,.searchPost{
  max-height: 500px;
  overflow: auto;
}

.postList > div {
  padding: 10px;
  border-bottom: 1px solid darkslategrey;
}

.search-button,.commentsButton {
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  outline: 0;
  padding: 10px;
  background-color: seagreen;
  color: greenyellow;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s;
}

.search-button:hover, .commentsButton:hover {
  background-color: darkslategrey;
}
